<div ng-include="site_url+'app/admin/views/_partials/message.html'"></div>
<div class="content-main-admin">
    <p>Do you really want to delete the model year {{model_year.display_name}}?</p>
    <div class="col-md-12" style="padding-top:20px;;">
        <button store-audit type="submit" name='submit' value="submit" class="btn btn-danger" ng-click="delete()">Yes</button>
        <button type="submit" name='submit' value="submit" class="btn btn-default" ng-click="cancel()">No</button>
    </div>
</div>