<div ng-include="site_url+'app/admin/views/_partials/message.html'"></div>
<div class="content-main-admin">
    <form ng-submit="save()" role='form' id="model_year" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class='box-body'>
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" id='year' ng-model='model_year.year' placeholder="Enter year" class='form-control'/>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id='name' ng-model='model_year.name' placeholder="Enter model year name" class='form-control'/>
                        </div>
                        <div class="form-group">
                            <label for="short_info">Short info</label>
                            <input type="text" id='short_info' ng-model='model_year.short_info' maxlength="60"
                                   placeholder="Enter short car info (<= 60 symbols)" class='form-control'/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea ckeditor="editorOptions" ng-model="model_year.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="mark">Mark / Generation No. of model (Example, 1, 2, 3 or A, B, C)</label>
                            <input type="text" id='mark' ng-model='model_year.mark' placeholder="Enter mark"
                                   class='form-control'/>
                        </div>
                        <div class="form-group">
                            <label for="name">Body design in comparison to previous year</label>
                            <select ng-model="model_year.facelift" class="form-control">
                                <option value="0"> - default</option>
                                <option value="1">Redesign</option>
                                <option value="2">Facelift</option>
                                <option value="3">No Change</option>
                            </select>
                        </div>
                        <div class="form-group owner-field">
                            <label class="control-label">Review Owner</label>
                            <div class="">
                                <ui-select ng-model="model_year.model_year_expert_review.reviewer"
                                        theme="bootstrap"
                                        reset-search-input="false">
                                    <ui-select-match placeholder="Enter an email or phone number to select Reviewer...">{{$select.selected.name + '('+ $select.selected.phone + ')' }}</ui-select-match>
                                    <ui-select-choices repeat="user in users track by $index"
                                                    refresh="refreshUsers($select.search)"
                                                    refresh-delay="0" style="width: auto">
                                        <div ng-bind-html="user.name + ' ' + user.phone | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Published Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="model_year.model_year_expert_review.published_at" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                         <div class="form-group">
                            <label for="title">Review Title</label>
                            <input type="text" id='title' ng-model='model_year.model_year_expert_review.title' placeholder="Enter model year review title" class='form-control'/>
                        </div>
                        <div class="form-group">
                            <label for="review_short_description">Review Short Description</label>
                            <textarea name="review_short_description" class='form-control' ng-model="model_year.model_year_expert_review.short_description" placeholder="Enter short description of the model year review"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="review_description">Review Description</label>
                            <textarea ckeditor="editorOptions" ng-model="model_year.model_year_expert_review.description"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 padding-0">
                            <div class="form-group" >
                                <label for="name">Highlights (add 6 for perfect alignment in frontend)</label>
                                <div class="clearfix"></div>
                                <button style="background-color: #30aaff !important;border-color: #30aaff !important;" class="btn btn-success btn-add" type="button" ng-click="addPros()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div class="entry col-xs-12 margin-top-30 padding-0" ng-repeat="pro in model_year.pros track by $index">
                                    <div class="col-md-12 padding-0">
                                        <input type="text" ng-model='pro.value' placeholder="Enter pros" class='form-control'/>
                                    </div>
                                    <a style="position: absolute;right: 10px;top: 10px;" href ng-click="removePros($index)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 padding-0 margin-top-30 ng-hide">
                            <div class="form-group">
                                <label for="name">Cons</label>
                                <div class="clearfix"></div>
                                <button style="background-color: #30aaff !important;border-color: #30aaff !important;" class="btn btn-success btn-add" type="button" ng-click="addCons()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div class="entry margin-top-30 col-xs-12 padding-0" ng-repeat="con in model_year.cons track by $index">
                                    <div class="col-md-12 padding-0">
                                        <input type="text" ng-model='con.value' placeholder="Enter cons" class='form-control'/>
                                    </div>
                                    <a style="position: absolute;right: 10px;top: 10px;" href ng-click="removeCons($index)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-12 margin-top-30">
                            <label>Ratings</label>
                            <div class="row">
                                <div class="col-md-3">Styling</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_styling" read-only="false" ></jk-rating-stars>
                                </div>
                                <div class="col-md-3">Handling</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_handling" read-only="false" ></jk-rating-stars>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Comfort</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_comfort" read-only="false" ></jk-rating-stars>
                                </div>
                                <div class="col-md-3">Quality</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_quality" read-only="false" ></jk-rating-stars>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Performance</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_performance" read-only="false" ></jk-rating-stars>
                                </div>
                                <div class="col-md-3">Roominess</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_roominess" read-only="false" ></jk-rating-stars>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Running cost</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_running_cost" read-only="false" ></jk-rating-stars>
                                </div>
                                <div class="col-md-3">Value for money</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_value" read-only="false" ></jk-rating-stars>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Equipment</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_eq" read-only="false" ></jk-rating-stars>
                                </div>
                                <div class="col-md-3">Environment</div>
                                <div class="col-md-3">
                                    <jk-rating-stars max-rating="5" min-rating="1" rating="model_year.model_year_expert_review.rate_environment" read-only="false" ></jk-rating-stars>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-30 col-xs-12">
                            <div class="col-xs-12 clearfix" >
                                <h3 class="box-title">Media</h3>
                                <div class="col-xs-12 padding-0  clearfix">
                                    <div class="upload-section col-xs-12 padding-0">
                                        <div class="title">Banner image (Optimal image size in pixels: 1920x500 (larger is ok, but with same ratio))</div>
                                        <label for="banner_image">
                                            <div class="section-all">
                                                <span class="camera-photo"></span>
                                                <span class="text">Click to upload banner image</span>
                                            </div>
                                        </label>
                                        <button id='banner_image' class="hidden"
                                                ngf-select="uploadImage($files,'banner')" multiple
                                                accept="image/*" ngf-max-height="3000"
                                                ngf-max-size="10MB">Select File
                                        </button>
                                    </div>
                                    <div class="col-xs-3 image-gallery-section" style="position:relative;"  ng-show="model_year.banner_image_thumb_url ">
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 padding-0 image-section">
                                            <img ng-src="{{ model_year.banner_image_thumb_url }}"/>
                                        </div>
                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="col-xs-12 padding-0 clearfix">
                                    <div class="upload-section col-xs-12 padding-0">
                                        <div class="title">Banner image for mobile (will show only on mobile phones, optimal size to upload: 1920x1080)</div>
                                        <label for="banner_mobile_image">
                                            <div class="section-all">
                                                <span class="camera-photo"></span>
                                                <span class="text">Click to upload banner image for mobile</span>
                                            </div>
                                        </label>
                                        <button id='banner_mobile_image' class="hidden"
                                                ngf-select="uploadImage($files,'banner_mobile')" multiple
                                                accept="image/*" ngf-max-height="3000"
                                                ngf-max-size="10MB">Select File
                                        </button>
                                    </div>
                                    <div class="col-xs-3 image-gallery-section" style="position:relative;"  ng-show="model_year.banner_mobile_image_thumb_url ">
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 padding-0 image-section">
                                            <img ng-src="{{ model_year.banner_mobile_image_thumb_url }}"/>
                                        </div>
                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="col-xs-12 padding-0 clearfix">
                                    <div class="upload-section col-xs-12 padding-0">
                                        <div class="title">Search image</div>
                                        <label for="search-image">
                                            <div class="section-all">
                                                <span class="camera-photo"></span>
                                                <span class="text">Click to upload search image</span>
                                            </div>
                                        </label>
                                        <button id='search-image'
                                                class="hidden"
                                                ngf-select="uploadImage($files,'search')" multiple
                                                accept="image/*" ngf-max-height="3000"
                                                ngf-max-size="10MB">Select File
                                        </button>
                                    </div>
                                    <div class="col-xs-3 image-gallery-section" style="position:relative;" ng-show="model_year.search_image_thumb_url ">
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 padding-0 image-section">
                                            <img ng-src="{{ model_year.search_image_thumb_url }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 padding-0">
                                    <label for="gallery">Gallery</label>
                                    <div class="admin-gallery-holder">
                                        <div class="col-xs-2 image-gallery-section" ng-repeat-start="image in model_year.model_year_images track by $index" style="position:relative;">
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 padding-0 image-section">
                                                <img ng-src="{{ image.url_thumb}}"/>
                                                <div ng-click="removeImage($index)" class="fa fa-times-circle-o remove-image"></div>
                                                <div ng-hide="image.status != 'temp'" class="ng-hide" style="position: absolute; top:0;left:0; background-color: #00cc66; color:white; margin:1px;">New</div>
                                            </div>
                                            <div class="col-md-12 padding-0">
                                                <div class="front-page">
                                                    <input type='radio' name="frontpage_image" ng-checked="image.is_frontpage == 1"
                                                           ng-click="makeFrontpageImage($index)"/>
                                                    <span>Make Frontpage image</span>
                                                </div>
                                                <div class="form-group title">
                                                    <label>Image Name/Title</label>
                                                    <input type="text" id='image_name' ng-model='image.name' placeholder="Enter image title"
                                                           class='form-control'/>
                                                </div>
                                                <div class="form-group ext-int">
                                                    <label>Image Type</label>
                                                    <select ng-model="image.type" class="form-control">
                                                        <option value="exterior">Exterior</option>
                                                        <option value="interior">Interior</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="clearfix" ng-if="$index % 4 == 3"></div>-->
                                        <div ng-repeat-end=""></div>
                                    </div>
                                    <div class="col-md-12">
                                        <button ngf-select="uploadFiles($files)" class="btn btn-default button-submit-design" multiple
                                                accept="image/*" ngf-max-height="3000" ngf-max-size="10MB">
                                            Select Files
                                        </button>
                                    </div>
                                </div>

                                <div class="col-xs-12 padding-0">
                                    <div class="video-section">
                                        <div style="margin: 0" class="title">
                                            <span>Videos</span>
                                        </div>
                                        <button type="button"  ng-click="addVideo()" class="btn btn-design button-submit-design button-submit-design-margin">Add video</button>
                                        <div class="row" ng-repeat="video in model_year.model_year_videos">
                                            <div class="col-md-12 video-block padding-0">
                                                <label>Youtube Video URL</label>
                                                <input type="text" ng-model="video.video_url" class="form-control"/><br/>
                                                <label>Video Name (caption)</label>
                                                <input type="text" ng-model="video.name" class="form-control"/><br/>
                                                <a class="fa fa-times remove" href ng-click="removeVideo($index)"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 padding-0">
                                    <label for="gallery">Colours</label>
                                    <div class="admin-gallery-holder">
                                        <div class="col-xs-2 image-gallery-section" ng-repeat-start="image in model_year.model_year_colours" style="position:relative;">
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 padding-0 image-section">
                                                <img ng-src="{{ image.url_thumb}}"/>
                                                <div ng-click="removeColour($index)" class="fa fa-times-circle-o remove-image"></div>
                                            </div>
                                            <div class="col-md-12 padding-0">
                                                <div class="form-group title">
                                                    <label>Image Name/Title</label>
                                                    <input type="text" id='mark' ng-model='image.name'  placeholder="Enter Colour title" class='form-control' />
                                                </div>
                                                <div class="form-group title">
                                                    <label>Hex Code</label>
                                                    <color-picker ng-model='image.hex_code' options="options"></color-picker>
                                                </div>
                                                <div class="form-group ext-int">
                                                    <label>Base Colour</label>
                                                    <select ng-options="base_colour for base_colour in base_colours" ng-model="image.base_colour" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="clearfix" ng-if="$index % 4 == 3"></div>-->
                                        <div ng-repeat-end=""></div>
                                    </div>
                                    <div class="col-md-12">
                                        <button ngf-select="uploadColourFiles($files)" class="btn btn-default button-submit-design"  style="width: auto" multiple
                                                accept="image/*" ngf-max-height="3000" ngf-max-size="10MB">
                                            Select Colours
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group owner-field">
                                <label class="control-label">Similar Model Years (Similar Models)</label>
                                    <ui-select multiple ng-model="model_year.similar"
                                            theme="bootstrap"
                                            sortable="true" close-on-select="false" >
                                        <ui-select-match placeholder="Enter name of model year...">{{$item.year + " " + $item.model.make.name + " " + $item.model.name }}</ui-select-match>
                                        <ui-select-choices repeat="similar in similar track by $index"
                                                        refresh="refreshSimilar($select.search)"
                                                        refresh-delay="200"
                                                        minimum-input-length="3"
                                                                                       >
                                            <div ng-bind-html="(similar.year + ' ' + similar.model.make.name + ' ' + similar.model.name) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group owner-field">
                                    <label class="control-label">Usage</label>
                                    <ui-select multiple ng-model="model_year.lifestyles"
                                               theme="bootstrap"
                                               sortable="true" close-on-select="false" >
                                        <ui-select-match placeholder="Enter name of usage...">{{$item.name }}</ui-select-match>
                                        <ui-select-choices repeat="lifestyle in lifestyles track by $index"
                                                           refresh="refreshLifestyles($select.search)"
                                                           refresh-delay="200"
                                                           minimum-input-length="2"
                                        >
                                            <div ng-bind-html="(lifestyle.name) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group margin-top-20">
                                    <label for="used_link">Used Link</label>
                                    <input type="text" id='used_link' ng-model='model_year.used_link' placeholder="Enter Used Link" class='form-control'/>
                                </div>
                                <div class="margin-top-20">
                                    <label for="status" class='form-check-label'>Status</label>
                                    <input type="checkbox" id='status' ng-checked='model_year.status' ng-model="model_year.status" class='form-check-input'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer with-border margin-top-30 col-xs-12">
                        <button store-audit type="submit" name='submit' value="submit" class="btn btn-default" ng-disabled="isSaving"
                                class="btn btn-primary">Save Model
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>