<div>
    <div ng-include="site_url + 'app/admin/views/_partials/message.html'"></div>
    <div ng-include="site_url + 'app/admin/views/_partials/data_info.html'"></div>
    <div ng-include="site_url + 'app/admin/views/_partials/preloader.html'"></div>

    <table class="table table-design" ng-hide="loading || no_result">
        <thead>
            <tr>
                <th>#</th>
                <th>Make</th>
                <th>Model</th>
                <th>year</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="model_years">
            <tr ng-repeat="model_year in model_years  | filter:searchText">
                <td>{{model_year.id}}</td>
                <td>{{model_year.model.make.name}}</td>
                <td>{{model_year.model.name}}</td>
                <td>{{model_year.year}}</td>
                <td>

                    <a class="btn btn-default btn-design"  ui-sref="request_deal({model_year_id: model_year.id})" >
                        Request Deal Content
                    </a>

                    <a class="btn btn-default btn-design" href ui-sref="makes.edit.models.edit.model_years.edit({make_id:make.id,model_id: model_year.model_id, model_year_id: model_year.id})" >
                        Edit
                    </a>

                    <a class="btn btn-default btn-design" href ui-sref="vehicles({make_id:make.id,model_id: model_year.model_id ,model_year_id:model_year.id})" >
                        View Vehicles (variations)
                    </a>
                    <a class="btn btn-default btn-design" ng-click="changeModelYearStatus(model_year)">
                        {{ (model_year.status)?'Active':'Inactive' }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>