<div>
    <div ng-include="site_url + 'app/admin/views/_partials/message.html'"></div>
    <div ng-include="site_url + 'app/admin/views/_partials/data_info.html'"></div>
    <div class="content-main-admin image-search" ng-show="makes || models || years">
        <div class="form-group col-md-12">
            <label for="name">Search</label>
            <input ng-model="filter.keyword" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="name">Make</label>
            <select ng-options="make.id as make.name for make in makes" ng-model="filter.make_id"  class="form-control">
                <option value="">Please select make</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="name">Model</label>
            <select ng-options="model.id as model.name for model in models" ng-model="filter.model_id" class="form-control">
                <option value="">Please select model</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="name">Year</label>
            <select ng-options="year as year for year in years" ng-model="filter.model_year_id" class="form-control">
                <option value="">Please select model year</option>
            </select>
        </div>
        <div class='col-md-3'>
            <br />
            <button class="btn button-submit-design" ng-click='getResults()'>Filter</button>
        </div>
    </div>
    <table class="table table-design  margin-top-30" ng-hide="loading || no_result">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Status</th>
                <th>Edit model year</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody  ng-model="model_years">
            <tr ng-repeat="model_year in model_years">
                <td>{{model_year.id}}</td>
                <td>
                    <img ng-show="model_year.banner_image_thumb_url!==null" src="{{model_year.banner_image_thumb_url}}" style="max-width: 200px;max-height: 100px;object-fit: contain;">
                </td>
                <td>
                    <a href="#!/makes/{{model_year.model.make.id}}/edit?search_page">
                        {{model_year.model.make.name}}
                    </a>
                </td>
                <td>
                    <a href="#!/makes/{{model_year.model.make.id}}/edit/models/{{model_year.model.id}}/edit?search_page">
                        {{model_year.model.name}}
                    </a>
                </td>
                <td>{{model_year.year}}</td>
                <td><span class="glyphicon glyphicon-eye-{{model_year.status?'open':'close'}}"></span></td>
                <td>
                    <a href="#!/makes/{{model_year.model.make.id}}/edit/models/{{model_year.model.id}}/edit/model_years/{{model_year.id}}/edit?search_page">
                        <button type="button" class="btn btn-default btn-design">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-hide="loading || no_result">
        <ul ng-if="last_page > 1" class="pagination">
            <li ng-if="pager.currentPage > 1">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>
            <li ng-if="pager.currentPage < pager.totalPages">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
        </ul>
    </div>
</div>