<div ng-include="site_url+'app/admin/views/_partials/message.html'"></div>
<div class="content-main-admin">
    <div class="row bottom-line" >
        <div class="col-md-6">
            <h2>{{finance_request.model_year.name | ifEmpty:'n/a' }}</h2>
        </div>
        <div class="col-md-6">
            <h2 ng-show="finance_request.vehicle_price">Vehicle Price : {{finance_request.vehicle_price +' '+finance_request.country.currency}}</h2>
        </div>
    </div>
    <form role='form' autocomplete="off">
        <h2>Personal Information</h2>
        <div class="form-group">
            <label for="">First Name</label>
            {{finance_request.first_name | ifEmpty:'n/a' }}
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            {{finance_request.last_name | ifEmpty:'n/a' }}
        </div>
        <div class="form-group">
            <label for="">Email</label>
            {{finance_request.email | ifEmpty:'n/a' }}
        </div>
        <div class="form-group">
            <label for="">Phone</label>
            {{finance_request.phone | ifEmpty:'n/a' }}
        </div>
        <div class="form-group">
            <label for="">Urgency</label>
            {{urgency[finance_request.urgency] | ifEmpty:'n/a' }}
        </div>
        <div class="form-group">
            <label for="">Location</label>
            {{finance_request.state.name | ifEmpty:'n/a' }}
        </div>
        <div class="form-group bottom-line">
            <label for="">Contact time</label>
            {{finance_request.contact_time | ifEmpty:'n/a' }}
        </div>
        <h2>Finance</h2>
        <div class="form-group">
            <label for="">Finance</label>
            {{section_answer[finance_request.finance] | ifEmpty:'n/a'}}
        </div>
        <div class="form-group">
            <label for="">Monthly Income</label>
            {{finance_request.monthly_income| ifEmpty:'n/a' }}
            <span ng-show="finance_request.monthly_income">{{finance_request.country.currency}}</span>
        </div>
        <div class="form-group">
            <label for="">Monthly Expenses</label>
            {{finance_request.monthly_expenses| ifEmpty:'n/a' }}
            <span ng-show="finance_request.monthly_expenses">{{finance_request.country.currency}}</span>
        </div>
        <div class="form-group">
            <label for="">Vehicle Price</label>
            {{finance_request.vehicle_price | ifEmpty:'n/a' }}
            <span ng-show="finance_request.vehicle_price">{{finance_request.country.currency}}</span>
        </div>
        <div class="form-group">
            <label for="">Deposit</label>
            {{finance_request.deposit_amount | ifEmpty:'n/a' }}
            <span ng-show="finance_request.deposit_amount">{{finance_request.country.currency}}</span>
        </div>
        <div class="form-group">
            <label for="">Interest Rate</label>
            {{finance_request.interest_rate+' %' | ifEmpty:'n/a' }}
        </div>
        <div class="form-group bottom-line">
            <label for="">Payment Period</label>
            {{finance_request.payment_period +' year(s)'| ifEmpty:'n/a' }}
        </div>
        <h2>Insurance</h2>
        <div class="form-group">
            <label for="">Insurance</label>
            {{section_answer[finance_request.insurance] | ifEmpty:'n/a'}}
        </div>
        <div class="form-group">
            <label for="">Insurance provider</label>
            {{finance_request.insurance_provider | ifEmpty:'n/a'}}
        </div>
        <div class="form-group">
            <label for="">Expiry month</label>
            {{finance_request.expiry_month | ifEmpty:'n/a'}}
        </div>
        <div class="form-group">
            <label for="">Expiry year</label>
            {{finance_request.expiry_year | ifEmpty:'n/a'}}
        </div>
        <h2>Trade In</h2>
        <div class="form-group">
            <label for="">Trade In</label>
            {{section_answer[finance_request.trade_in] | ifEmpty:'n/a'}}
        </div>
        <div class="form-group" ng-show="finance_request.trade_in_cars.length" >
            <label for="">Vehicle details</label>
            <table class="table table-design">
                <thead>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Variant</th>
                    <th>Year</th>
                </thead>
                <tr ng-repeat="car in finance_request.trade_in_cars track by car.id">
                    <td>{{car.make | ifEmpty:'n/a'}}</td>
                    <td>{{car.model | ifEmpty:'n/a'}}</td>
                    <td>{{car.variant | ifEmpty:'n/a'}}</td>
                    <td>{{car.year | ifEmpty:'n/a'}}</td>
                </tr>
            </table>
        </div>
    </form>
</div>