<div>
    <div ng-include="site_url + 'app/admin/views/_partials/message.html'"></div>
    <div ng-include="site_url + 'app/admin/views/_partials/data_info.html'"></div>
    <form ng-submit="searchUsers()">
        <div class="row">
            <div class="col-md-4">
                <label for="search-text">Search</label>
                <input type="text" id='search-text' ng-model='searchText' placeholder="Enter email or name or phone" class='form-control'/>
            </div>
            <div class="col-md-2"><label for="">&nbsp;</label><br /><button class="btn btn-default">Search</button></div>
        </div>
    </form>
    <br />
    <div class="scroll-table">
        <table class="table table-design" ng-hide="loading || no_result">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Cars</th>
                <th>Detail request</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="finance_requests_additional">
            <tr ng-repeat="finance_request_additional in finance_requests_additional">
                <td>{{finance_request_additional.id}}</td>
                <td class="table-long-field">{{finance_request_additional.first_name}}</td>
                <td class="table-long-field">{{finance_request_additional.last_name}}</td>
                <td>{{finance_request_additional.phone}}</td>
                <td class="table-long-field">{{finance_request_additional.email}}</td>
                <td>
                    <p ng-repeat="additional_request in finance_request_additional.additional_requests">
                        <a href="#!/makes/{{additional_request.make_id}}/edit/models/{{additional_request.model_id}}/edit/model_years/{{additional_request.model_year_id}}/edit">
                            {{additional_request.name}}
                        </a>
                    </p>
                </td>
                <td>
                    <a class="btn btn-default btn-design" href ui-sref="finance-requests.edit({finance_request_id: finance_request_additional.id})" >
                       View
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-hide="loading || no_result">
        <ul ng-if="last_page > 1" class="pagination">
            <li ng-if="pager.currentPage > 1">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>
            <li ng-if="pager.currentPage < pager.totalPages">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
        </ul>
    </div>
</div>