<div>
    <div ng-include="site_url + 'app/admin/views/_partials/message.html'"></div>
    <div ng-include="site_url + 'app/admin/views/_partials/data_info.html'"></div>
    <div class="col-xs-12 content-main-admin export-content" ng-show="settings.range_dates">
        <form class="rangecontainer">
            <div class="row export-row">
                <div class="col-md-2 align-text-title">
                    <h3 class="box-title margin-0 title-black">Export finance requests</h3>
                </div>
                <div class="col-md-2">
                    <a href="sendFinanceStatistic?start={{start_date}}&&end={{end_date}}&&all_fields={{all_data_checkbox?all_data_checkbox:''}}">
                        <button type="button" class="btn btn-primary btn-block">Export</button>
                    </a>
                </div>
                <div class="col-md-2">
                    <p class="form-group text">
                        Start
                        <select class="form-control"
                                ng-options="range_date as range_date for (key ,range_date) in settings.range_dates track by key "
                                ng-model="start_date"
                        >
                            <option value="">Chose date</option>
                        </select>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="form-group text">
                        End
                        <select class="form-control"
                                ng-options="crop_date as crop_date for (key,crop_date) in settings.range_dates track by key "
                                ng-model="end_date"
                        >
                            <option value="">Chose date</option>
                        </select>
                    </p>
                </div>
                <div class="col-md-2 indo-checkbox">
                    <p class="form-group text">
                        <span>All fields</span>
                        <input type="checkbox" name="all-data" ng-model="all_data_checkbox">
                    </p>
                </div>
                <button type="button"
                        id="PopoverExport"
                        class="btn btn-default btn-sm"
                        data-container="body"
                        data-toggle="popover"
                        data-placement="bottom"
                        data-content="{{popoverInfo}}"
                >
                    <i class="fa fa-info"></i>
                </button>
            </div>
            <div class="col-md-8 bg-danger pull-right warning-message" ng-show="all_data_checkbox" >
                <p class="text-center">{{tooltip_text}}</p>
            </div>
        </form>
    </div>
    <form ng-submit="searchUsers()">
        <div class="row">
            <div class="col-md-2">
                <label>Viewed Status</label>
                <select ng-model="filter.view_status" class="form-control">
                    <option value="">All</option>
                    <option value="0">Pending</option>
                    <option value="1">Viewed</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="search-text">Search</label>
                <input type="text" id='search-text' ng-model='searchText' placeholder="Enter email or name or phone" class='form-control'/>
            </div>
            <div class="col-md-2"><label for="">&nbsp;</label><br /><button class="btn btn-default">Search</button></div>
        </div>
    </form>
    <br />
    <div class="scroll-table">
        <table class="table table-design" ng-hide="loading || no_result">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Finance</th>
                <th>Trade In</th>
                <th>Insurance</th>
                <th>Insurance provider</th>
                <th>Expiry month</th>
                <th>Expiry year</th>
                <th>Contact time</th>
                <th>Created Date</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="finance_requests">
            <tr ng-repeat="finance_request in finance_requests" class="{{finance_request.view_status?'read' : 'unread'}}">
                <td>{{finance_request.id}}</td>
                <td class="table-long-field">{{finance_request.first_name}}</td>
                <td class="table-long-field">{{finance_request.last_name}}</td>
                <td>{{finance_request.phone}}</td>
                <td class="table-long-field">{{finance_request.email}}</td>
                <td>{{section_answer[finance_request.finance]}}</td>
                <td>{{section_answer[finance_request.trade_in]}}</td>
                <td>{{section_answer[finance_request.insurance]}}</td>
                <td>{{finance_request.insurance_provider}}</td>
                <td>{{finance_request.expiry_month}}</td>
                <td>{{finance_request.expiry_year}}</td>
                <td>{{finance_request.contact_time}}</td>
                <td>{{finance_request.created_at_readable}}</td>
                <td>
                    <a class="btn btn-default btn-design" href ui-sref="finance-requests.edit({finance_request_id: finance_request.id})" >
                       View
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-hide="loading || no_result">
        <ul ng-if="last_page > 1" class="pagination">
            <li ng-if="pager.currentPage > 1">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>
            <li ng-if="pager.currentPage < pager.totalPages">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
        </ul>
    </div>
</div>